doctype html
head
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  link(rel='stylesheet' href='css/main.css')

  body(layout='column')
    md-content#content(flex)

      div(layout='row' layout-align='spacearound' flex)
        md-subheader.header(flex) Angular Material Design Calculator
        md-button(href='https://github.com/dbtek/angular-material-calculator') Github
        md-button(href='https://twitter.com/dbtek') @dbtek

      .calc.md-whiteframe-z2(ng-controller='CalcCtrl')
        .display(layout='column' layout-padding ng-controller='DisplayCtrl')
          .up(flex layout='row' layout-padding layout-align='end center')
            .md-display-3 {{display}}
          .bottom(flex layout='row' layout-padding layout-align='end center')
            .md-display-2 {{bottomDisplay}}
        .controls(layout='row' layout-wrap ng-controller='InputCtrl')
          div(flex='75')
            md-grid-list(md-cols='3' md-row-height='4:4' md-gutter='0px')
              md-grid-tile.number(ng-repeat='i in [9,8,7,6,5,4,3,2,1,".",0,"00"]')
                md-button(flex ng-click='input(i)') {{i}}
          div(flex='25')
            md-grid-list(md-cols='1' md-row-height='6:4' md-gutter='0px')
              md-grid-tile.control
                md-button(flex ng-click='input()') DEL
              md-grid-tile.control
                md-button(flex ng-click='input("/")') /
              md-grid-tile.control
                md-button(flex ng-click='input("*")') x
              md-grid-tile.control
                md-button(flex ng-click='input("-")') -
              md-grid-tile.control
                md-button(flex ng-click='input("+")') +
              md-grid-tile.control
                md-button(flex ng-click='calculate()') =

    // bundle script
    script(src='js/bundle.js')
